html,
body {
  margin: 10;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#gameWrap {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

canvas {
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}