/* html,
body {
  margin: 10;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#gameWrap {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

canvas {
  image-rendering: pixelated;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
} */

html,
body {
  margin: 0;
  height: 100%;
  background: #000;
  overflow: hidden;
}

#gameWrap {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 16px;
  box-sizing: border-box;
}

canvas {
  image-rendering: pixelated;

  width: 100%;
  height: 100%;

  max-width: 1920;
  max-height: 1080;
}